$dark-contrast: #35363f;
$light-contrast: rgba(white, .87);
$fx-red: (
  50: #fff,
  100: #fde3e5,
  200: #faaeb4,
  300: #f66b75,
  400: #f54e5a,
  500: #f3313f,
  600: #f11424,
  700: #da0d1c,
  800: #bd0b18,
  900: #a00914,
  A100: #fff,
  A200: #fde3e5,
  A400: #f54e5a,
  A700: #da0d1c,
  contrast: (
    50: $dark-contrast,
    100: $dark-contrast,
    200: $dark-contrast,
    300: $dark-contrast,
    400: $dark-contrast,
    500: white,
    600: white,
    700: white,
    800: $light-contrast,
    900: $light-contrast,
    A100: $dark-contrast,
    A200: white,
    A400: white,
    A700: white,
  )
);
$fx-cyan: (
  50: #fff,
  100: #faffff,
  200: #c2fefa,
  300: #7cfef3,
  400: #5dfdf1,
  500: #3ffdee,
  600: #21fdeb,
  700: #03fce8,
  800: #02decd,
  900: #02c0b1,
  A100: #fff,
  A200: #faffff,
  A400: #5dfdf1,
  A700: #03fce8,
  contrast: (
    50: $dark-contrast,
    100: $dark-contrast,
    200: $dark-contrast,
    300: $dark-contrast,
    400: $dark-contrast,
    500: white,
    600: white,
    700: white,
    800: $light-contrast,
    900: $light-contrast,
    A100: $dark-contrast,
    A200: white,
    A400: white,
    A700: white,
  )
);
$fx-dark-grey: (
  50: #dadbe0,
  100: #b1b2bd,
  200: #9293a3,
  300: #6d6e81,
  400: #5f6071,
  500: #515260,
  600: #43444f,
  700: #35363f,
  800: #27272e,
  900: #19191e,
  A100: #f7f8fb,
  A200: #f3f4f7,
  A400: #5f6071,
  A700: #35363f,
  contrast: (
    50: $dark-contrast,
    100: $dark-contrast,
    200: $dark-contrast,
    300: $dark-contrast,
    400: $dark-contrast,
    500: white,
    600: white,
    700: white,
    800: $light-contrast,
    900: $light-contrast,
    A100: $dark-contrast,
    A200: white,
    A400: white,
    A700: white,
  )
);
$md-dark-primary: (
  50 : #fcfcfc,
  100 : #d5d5d5,
  200 : #b9b9b9,
  300 : #969696,
  400 : #868686,
  500 : #777,
  600 : #686868,
  700 : #585858,
  800 : #494949,
  900 : #3a3a3a,
  A100 : #fff,
  A200 : #f1ecec,
  A400 : #2b2b2b,
  A700 : #1b1b1b,
  contrast: (
    50 : #3a3a3a,
    100 : #3a3a3a,
    200 : #3a3a3a,
    300 : #3a3a3a,
    400 : #3a3a3a,
    500 : #fff,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #3a3a3a,
    A200 : #3a3a3a,
    A400 : #3a3a3a,
    A700 : #fff,
  )
);
$md-dark-warn: (
  50 : #fff,
  100 : #fff,
  200 : #ffd3d1,
  300 : #ff8f89,
  400 : #ff726b,
  500 : #ff554c,
  600 : #ff382d,
  700 : #ff1b0f,
  800 : #ef0c00,
  900 : #d10a00,
  A100 : #fff,
  A200 : #ffe6e5,
  A400 : #ff857f,
  A700 : #ff6d65,
  contrast: (
    50 : #3a3a3a,
    100 : #3a3a3a,
    200 : #3a3a3a,
    300 : #3a3a3a,
    400 : #3a3a3a,
    500 : #3a3a3a,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #3a3a3a,
    A200 : #3a3a3a,
    A400 : #3a3a3a,
    A700 : #3a3a3a,
  )
);
$md-dark-accent: (
  50 : #fff,
  100 : #f3f3fb,
  200 : #cac8ee,
  300 : #9592dd,
  400 : #7f7ad5,
  500 : #6863ce,
  600 : #514cc7,
  700 : #403aba,
  800 : #3833a2,
  900 : #302c8b,
  A100 : #fff,
  A200 : #d2d0fa,
  A400 : #837ee6,
  A700 : #7772d9,
  contrast: (
    50 : #3a3a3a,
    100 : #3a3a3a,
    200 : #3a3a3a,
    300 : #3a3a3a,
    400 : #3a3a3a,
    500 : #fff,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #3a3a3a,
    A200 : #3a3a3a,
    A400 : #3a3a3a,
    A700 : #fff,
  )
);
