$black-contrast: #35363f;
$white-87-opacity: rgba(white, .87);
$fx-red: (
  50: #fff,
  100: #fde3e5,
  200: #faaeb4,
  300: #f66b75,
  400: #f54e5a,
  500: #f3313f,
  600: #f11424,
  700: #da0d1c,
  800: #bd0b18,
  900: #a00914,
  A100: #fff,
  A200: #fde3e5,
  A400: #f54e5a,
  A700: #da0d1c,
  contrast: (
    50: $black-contrast,
    100: $black-contrast,
    200: $black-contrast,
    300: $black-contrast,
    400: $black-contrast,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-contrast,
    A200: white,
    A400: white,
    A700: white,
  )
);
$fx-cyan: (
  50: #fff,
  100: #faffff,
  200: #c2fefa,
  300: #7cfef3,
  400: #5dfdf1,
  500: #3ffdee,
  600: #21fdeb,
  700: #03fce8,
  800: #02decd,
  900: #02c0b1,
  A100: #fff,
  A200: #faffff,
  A400: #5dfdf1,
  A700: #03fce8,
  contrast: (
    50: $black-contrast,
    100: $black-contrast,
    200: $black-contrast,
    300: $black-contrast,
    400: $black-contrast,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-contrast,
    A200: white,
    A400: white,
    A700: white,
  )
);
$fx-dark-grey: (
  50: #dadbe0,
  100: #b1b2bd,
  200: #9293a3,
  300: #6d6e81,
  400: #5f6071,
  500: #515260,
  600: #43444f,
  700: #35363f,
  800: #27272e,
  900: #19191e,
  A100: #f7f8fb,
  A200: #dadbe0,
  A400: #5f6071,
  A700: #35363f,
  contrast: (
    50: $black-contrast,
    100: $black-contrast,
    200: $black-contrast,
    300: $black-contrast,
    400: $black-contrast,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-contrast,
    A200: white,
    A400: white,
    A700: white,
  )
);
