$black-contrast: #2d2d2d;
$fx-red: (
  50: #fff,
  100: #fcdddd,
  200: #f8aaaa,
  300: #f36868,
  400: #f04b4b,
  500: #ee2f2f,
  600: #eb1313,
  700: #cf1111,
  800: #b30f0f,
  900: #960c0c,
  A100: #fff,
  A200: #fcdddd,
  A400: #f04b4b,
  A700: #cf1111,
  contrast: (
    50: $black-contrast,
    100: $black-contrast,
    200: $black-contrast,
    300: $black-contrast,
    400: $black-contrast,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-contrast,
    A200: white,
    A400: white,
    A700: white,
  )
);
$fx-dark-grey: (
  50: #efefef,
  100: #c8c8c8,
  200: #acacac,
  300: #898989,
  400: #797979,
  500: #6a6a6a,
  600: #5b5b5b,
  700: #4b4b4b,
  800: #3c3c3c,
  900: #2d2d2d,
  A100: #f0f0f0,
  A200: #e7e7e7,
  A400: #797979,
  A700: #4b4b4b,
  contrast: (
    50: $black-contrast,
    100: $black-contrast,
    200: $black-contrast,
    300: $black-contrast,
    400: $black-contrast,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-contrast,
    A200: white,
    A400: white,
    A700: white,
  )
);
