@import '~@angular/material/core/theming/theming';
@import './app/shared/toolbar/toolbar-theme';

@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-background {
    background: md-color($background, background);
  }

  .flex-footer {
    background: md-color($primary);
    color: md-color($primary, default-contrast);
  }

  @include toolbar-theme($theme);
}
