@import '~@angular/material/core/theming/theming';
@import './app/adaptive-layout-app.theme';
@import './app/shared/sidenav/sidenav.theme';
@import './app/shared/toolbar/toolbar.theme';
@import './app/shared/content-toolbar/content-toolbar.theme';
@import './app/shared/footer/footer.theme';

@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-background {
    background: md-color($background, background);
  }

  @include adaptive-layout-app-theme($theme);
  @include sidenav-theme($theme);
  @include toolbar-theme($theme);
  @include content-toolbar-theme($theme);
  @include footer-theme($theme);
}
