@import './variables';

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  width: 100%;
  margin-top: 0;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: .5rem;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}
