@mixin content-toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  flex-content-toolbar {
    .flex-content-toolbar {
      color: md-color($accent, default-contrast);
      background: md-color($warn, 400);
    }
  }
}
