@mixin flex-layout-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-container {
    background: md-color($primary, A100);
  }

  .toolbar-container {
    background: md-color($primary, 500);
  }

  .content-container {
    background: md-color($primary, A100);
  }

  .content-toolbar-container {
    background: md-color($primary, 500);
  }

  .app-sidenav {
    color: md-color($primary, 500);
    background: md-color($accent, 50);
  }
}
