<al-toolbar class='app-toolbar md-elevation-z5' fxLayoutAlign='start center'></al-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav mode="side" [opened]="isSidenavOpen" class="app-sidenav">
    <al-sidenav></al-sidenav>
  </md-sidenav>
  <md-sidenav #sidebar mode="side" class="app-sidebar" [opened]="isSidebarOpen" align="end">
    <p>End Side Drawer</p>
    <br>
    <button md-button (click)="sidebar.close()">Close</button>
  </md-sidenav>
  <div class='app-container' fxLayout='column'>
    <div class='content-container' fxLayoutAlign="center">
      <div class='content-toolbar-container'>
        <al-content-toolbar class='content-toolbar' fxLayoutAlign='center'></al-content-toolbar>
      </div>
      <div class='app-content' fxLayoutAlign='center'>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class='footer-container'>
      <al-footer class='app-footer'></al-footer>
    </div>
  </div>
  <md-sidenav-container>
