.app-container {
  background-color: #e7e7e7;
  height: 100vh;
  width: 100%;
}

.toolbar-container {
  background-color: #ee2f2f;
  position: fixed;
  width: 100%;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  .app-toolbar {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.content-container {
  background-color: #e7e7e7;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  .content-toolbar-container {
    background-color: #2d2d2d;
    position: fixed;
    width: 100%;
    z-index: 800;
    margin-left: auto;
    margin-right: auto;
    .content-toolbar {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .app-content {
    padding-top: 80px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .app-footer {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
