@import '../styles/colors';

.app-container {
  height: 100vh;
  width: 100%;
}

.app-toolbar {
  position: fixed;
  width: 100%;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
}

.app-sidenav {
  min-width: 100px;
  z-index: 800 !important;
  width: 256px;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;
}
.toolbar-container {
  position: fixed;
  width: 100%;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  .app-toolbar {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.content-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  .content-toolbar-container {
    position: fixed;
    width: 100%;
    z-index: 700;
    margin-left: auto;
    margin-right: auto;
    .content-toolbar {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .app-content {
    padding-top: 164px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .app-footer {
    margin-left: auto;
    margin-right: auto;
  }
}
