@import '../styles/colors';
// @import '../styles/theme';
// @include md-core();

.app-container {
  background-color: map-get($fx-dark-grey, A100);
  height: 100vh;
  width: 100%;
}

.toolbar-container {
  // background-color: map-get($fx-dark-grey, 500);
  position: fixed;
  width: 100%;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  .app-toolbar {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.content-container {
  background-color: map-get($fx-dark-grey, A100);
  padding-top: 64px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  .content-toolbar-container {
    background-color: map-get($fx-dark-grey, 700);
    position: fixed;
    width: 100%;
    z-index: 800;
    margin-left: auto;
    margin-right: auto;
    .content-toolbar {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .app-content {
    padding-top: 100px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .app-footer {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
