<div class="appContainer" fxLayout="column">
  <div class="toolbarContainer">
    <flex-toolbar class="appToolbar" fxLayoutAlign="center"></flex-toolbar>
  </div>
  <div class="contentContainer">
    <div class="contentToolbarContainer md-elevation-z6">
      <flex-content-toolbar class="contentToolbar" fxLayoutAlign="center"></flex-content-toolbar>
    </div>
    <div class="appContent" fxLayoutAlign="center">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footerContainer">
    <flex-footer class="appFooter"></flex-footer>
  </div>
</div>
