<div class='app-container' fxLayout='column'>
  <div class='toolbar-container'>
    <flex-toolbar class='app-toolbar' fxLayoutAlign='center'></flex-toolbar>
  </div>
  <div class='content-container'>
    <div class='content-toolbar-container md-elevation-z6'>
      <flex-content-toolbar class='content-toolbar' fxLayoutAlign='center'></flex-content-toolbar>
    </div>
    <div class='app-content' fxLayoutAlign='center'>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class='footer-container'>
    <flex-footer class='app-footer'></flex-footer>
  </div>
</div>
