@import '~@angular/material/core/theming/all-theme';
@import './styles/colors';
@import './styles/theme';
@import './styles/typography';


@include md-core();
$accent: md-palette($fx-cyan, 400, 600, A200);
$primary: md-palette($fx-dark-grey, 500, A200, A100);
$warn: md-palette($fx-red, 400);
$theme: md-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@include app-theme($theme);

body {
  font-family: 'Roboto','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
  margin: 0;
}

[md-button], [md-raised-button] {
  text-transform: uppercase;
}

h1, h2 {
  font-weight: 400;
}
